 # NUMBERS

### OPERATIONS

In [13]:
#Multiplication
n = 2
2 * 2

4

In [14]:
#Power
n**5

32

In [15]:
#Mix
2 + 2 * 3 / 4 + 5 ** 2

28.5

In [16]:
#Average
grade_1 = 5
grade_2 = 10
average_grade = (grade_1 + grade_2) / 2
average_grade

7.5

In [20]:
# Variables del ejercicio (no las modifiques)
nota_1 = 10
nota_2 = 6

# Calcula correctamente la nota_final (no modifiques el nombre de la variable)
nota_final = (nota_1*0.4 + nota_2*0.6)
nota_final

7.6

# TEXT

### PRINT

In [23]:
'Hello World'

'Hello World'

In [24]:
"Hello World"

'Hello World'

In [25]:
'This text includes " " '

'This text includes " " '

In [26]:
"This 'word' is written in quotation marks"

"This 'word' is written in quotation marks"

In [27]:
'This \'word\' is written in quotation marks'

"This 'word' is written in quotation marks"

In [28]:
print("String")
print("Another string")
print("One string more")

String
Another string
Another string

In [29]:
print("C:\name\dir")

C:
ame\dir

In [30]:
print(r"C:\name\dir")

C:\name\dir

In [31]:
 print("This is" " a string")

This is a string

In [35]:
c1 = "String"
c2 = "Another string"
print("This is " + c1 + " and "+ c2)

This is String and Another string

In [37]:
ten_spaces = " " * 10
print(ten_spaces + "ten spaces: ")

          ten spaces:

In [39]:
# no modifiques el nombre de ninguna variable, pero puedes crear nuevas
cadena1 = "moderno"
cadena2 = "Python"
cadena4 = "de programación"
cadena3 = "es un lenguaje"

# completa el ejercicio
cadena5 = cadena2 + " " + cadena3 + " " + cadena4 + " " + cadena1
cadena5

'Python es un lenguaje de programación moderno'

In [42]:
word = "Python"
word[:20]

'Python'

In [79]:
# Variables del ejercicio (no las modifiques)
cadena_corrupta = "airotsiH,6.7,aícraG nómaR"

# Completa el ejercicio
cadena_volteada = cadena_corrupta[::-1]
nombre = cadena_volteada[:12]
nota = cadena_volteada[13:16]
materia = cadena_volteada[17:]
cadena_formateada = nombre + " ha sacado un " + nota + " en " + materia
cadena_formateada

'Ramón García ha sacado un 7.6 en Historia'

# LISTS

In [83]:
letras = ['a','b','c','d','e','f']
letras

['a', 'b', 'c', 'd', 'e', 'f']

In [84]:
len(letras)

6

In [85]:
letras[:3]

['a', 'b', 'c']

In [86]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

In [88]:
d = [a,b,c]
d

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [89]:
d[:-1]

[[1, 2, 3], [4, 5, 6]]

In [103]:
# no modifiques el nombre de ninguna variable, puedes crear nuevas
lista1 = [1, 12, 123]
lista2 = ["Bye", "Ciao", "Agur", "Adieu"]

# completa el ejercicio
lista1.append(1234)
lista1.append('Hola')
lista2.append('Adiós')
lista2.append(1234)
lista3 = lista1[:-1]
lista4 = lista2[1:-1]
lista5 = lista4 + lista3
lista5

[[['Ciao', 'Agur', 'Adieu', 'Adiós'], [1, 12, 123, 1234]]]

# Keyboard input

In [104]:
value = input()

2

In [111]:
int(value) + 100

102

In [113]:
value = float(input("introduce a float:"))

introduce a float:3.14

In [114]:
value

3.14

In [117]:
nombre = str(input())
apellido = str(input())
edad = int(input())
numero_magico = float(input())
numero = edad*numero_magico
cadena_final = f'{nombre} {apellido}: Tu número de la suerte es el {edad*numero_magico}'

laura
muñoz
26
3

In [118]:
cadena_final

'laura muñoz: Tu número de la suerte es el 78.0'

In [130]:
n = int(input())

6774

In [131]:
if (n % 2) == 0:
    print(f'{n} es un numero par')
else:
    print(f'{n} es un numero impar')

6774 es un numero par

In [132]:
lista = [1,2,3,"Hola mundo", [4,5,6] ]

lista[-1][1]

5