## LOGICAL OPERATORS

In [4]:
(3 == 2) | (3 < 6)

True

In [5]:
False and False

False

In [7]:
c = "Hello world"
len(c) >= 10 and c[0] == 'H'

True

In [9]:
c = 'SOMETHING'
if (c == 'EXIT' or c == 'END'):
    print('True')

In [12]:
c = 'END'
if (c == 'EXIT' or c == 'END'):
    print('True')

True

In [22]:
# completa el ejercicio
edad = 24
nombre = 'laura'
if ((nombre != '****') and (edad > 10) and (edad < 18) and (len(nombre) > 3) and (len(nombre) < 10)):
    expresion = True

In [25]:
a = 5
b = 10
if a == 5:
    print('a is', a)
    if b == 10:
        print('and b is', b)

a is 5
and b is 10

In [28]:
if a==5 and b==10:
    print('a is 5 and b is 10')
else:
    print('a is not 5 or b is not 10')

a is 5 and b is 10

## LOOPS

In [29]:
# Completa el ejercicio
numero = int(input())
while (numero % 5) != 0:
    numero = int(input())

3
5

In [32]:
numbers = [1,2,3,4,5,6,7,8,9]
i = 0
while (i < len(numbers)):
    print(numbers[i])
    i += 1

1
2
3
4
5
6
7
8
9

In [33]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9

In [34]:
string = 'Hello friends'
for letter in string:
    print(letter)

H
e
l
l
o

f
r
i
e
n
d
s

In [38]:
string2 = ''
for letter in string:
    string2 += letter *2
string2

'HHeelllloo  ffrriieennddss'

In [39]:
range(10)

range(0, 10)

In [41]:
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9

In [61]:
numero = 7
sumatorio = 0

# Completa el ejercicio aquí
for i in range(1,numero + 1):
    if (i % 5 != 0) and (i % 7 != 0):
        sumatorio += i
sumatorio

16

In [64]:
elements = ['Hellos', 4, 'Bye', [1,2,3]]
for e in elements:
    print(e)

Hellos
4
Bye
[1, 2, 3]

In [65]:
[a,b,c] = [10,50,100]

In [66]:
print(a)

10

In [83]:
iniciales = ["Hola", "Mundo"]
for i, e in enumerate(iniciales):
    iniciales[i] = iniciales[i][0]
    print(iniciales[i])

H
M

In [114]:
multiplos = []
# Completa el ejercicio 
numero = 0
while numero < 1 or numero > 9:
    numero = int(input("Introduce un número entero del 1 al 9: "))

# Generamos la lista de múltiplos
multiplos = list(range(0,numero + 1, 1))

# Imprimimos la lista por pantalla
print(multiplos)

Introduce un número entero del 1 al 9: 100
Introduce un número entero del 1 al 9: 2
[0, 1, 2]

In [119]:
list1 = [
    'This is a string',
    (1,5,10,25,10,25),
    ['Blue', 'Green', 'Yellow']
]

In [120]:
for element in list1:
    print(element)

This is a string
(1, 5, 10, 25, 10, 25)
['Blue', 'Green', 'Yellow']

In [125]:
for element in list1:
    for i in element:
        print(element, "->", i)

This is a string -> T
This is a string -> h
This is a string -> i
This is a string -> s
This is a string ->
This is a string -> i
This is a string -> s
This is a string ->
This is a string -> a
This is a string ->
This is a string -> s
This is a string -> t
This is a string -> r
This is a string -> i
This is a string -> n
This is a string -> g
(1, 5, 10, 25, 10, 25) -> 1
(1, 5, 10, 25, 10, 25) -> 5
(1, 5, 10, 25, 10, 25) -> 10
(1, 5, 10, 25, 10, 25) -> 25
(1, 5, 10, 25, 10, 25) -> 10
(1, 5, 10, 25, 10, 25) -> 25
['Blue', 'Green', 'Yellow'] -> Blue
['Blue', 'Green', 'Yellow'] -> Green
['Blue', 'Green', 'Yellow'] -> Yellow

(0, 'This is a string') -> (0, 0)
(0, 'This is a string') -> (1, 'This is a string')
(1, (1, 5, 10, 25, 10, 25)) -> (0, 1)
(1, (1, 5, 10, 25, 10, 25)) -> (1, (1, 5, 10, 25, 10, 25))
(2, ['Blue', 'Green', 'Yellow']) -> (0, 2)
(2, ['Blue', 'Green', 'Yellow']) -> (1, ['Blue', 'Green', 'Yellow'])

In [144]:
matriz = [
    [8,  7,  0],
    [34, 2, -1],
    [5, -5, 12]
]
# Completa el ejercicio aquí
for i, row in enumerate(matriz):
     for j, value in enumerate(row):
        if (matriz[i][j] % 2) == 0:
             matriz[i][j] = 0
        else:
            matriz[i][j] = 1