# FUNCTIONS

In [3]:
def greeting():
    print("Hello there!")
    
greeting()

Hello there!

In [8]:
def draw_5_table():
    for i in range(10):
        print(f" 5 * {i} = {5 * i} ")
draw_5_table()

 5 * 0 = 0
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45

In [13]:
def test():
    return [1,2,3,4,5]

c = test()[-1]
c

5

In [17]:
def par_o_impar(numero):
    if numero % 2 == 0:
        print('PAR')
    else:
        print('IMPAR')
        
par_o_impar(2)
par_o_impar(3)

PAR
IMPAR

In [22]:
def recortar(numero, minimo, maximo):
    if numero < minimo:
        return minimo
    elif numero > maximo:
        return maximo
    else:
        return numero
    
recortar(1,2,5)
recortar(5,2,3)
recortar(6,1,8)

6

In [24]:
def resta(a,b):
    return a - b

resta(2,1)

1

In [28]:
list1= [1,2,3,4,5]
def memoria(obj):
    print(f'{hex(id(obj))}')
memoria(list1)

0x7f89b9585c40

### Unknown arguments and parameters

In [29]:
def indeterminados_position(*args):
    print(args)
indeterminados_position(5,'Hello', [1,2,3])

(5, 'Hello', [1, 2, 3])

In [30]:
def indeterminados_position(*args):
    for a in args:
        print(a)
indeterminados_position(5,'Hello', [1,2,3])

5
Hello
[1, 2, 3]

In [41]:
def indeterminados_name(**kwargs):
    print(kwargs)
indeterminados_name(n=5,s='Hello', l=[1,2,3])

{'n': 5, 's': 'Hello', 'l': [1, 2, 3]}

In [44]:
def indeterminados_name(**kwargs):
    for kwarg in kwargs:
        print(kwarg)
indeterminados_name(n=5,s='Hello', l=[1,2,3])

n
s
l

In [45]:
def indeterminados_name(**kwargs):
    for kwarg in kwargs:
        print(kwarg, " ", kwargs[kwarg])
indeterminados_name(n=5,s='Hello', l=[1,2,3])

n   5
s   Hello
l   [1, 2, 3]

In [46]:
def super_function(*args, **kwargs):
    i = 0
    for arg in args:
        i+=arg
    print(f'Total sum is: {i}')
    for kwarg in kwargs:
        print(kwarg, ' ', kwargs[kwarg])
        
super_function(10,20,78,44,102.4, name='Laura', age='24', nacionality='spanish')

Total sum is: 254.4
name   Laura
age   24
nacionality   spanish

### RECURSIVE

In [56]:
def count_down(number):
    if number > 0:
        print(number)
        count_down(number-1)

count_down(4)

4
3
2
1

In [62]:
def factorial(number):
    if number > 1:
        number = number * factorial(number - 1)
    return (number)
factorial(4)

24

In [77]:
# Completa el ejercicio
def sumatorio(numero):
    if numero > 0:
        numero = numero + sumatorio(numero - 1)
    return numero

sumatorio(5)

15

### BUILT-IN FUNCTIONS

In [80]:
n = int('10')
n

10

In [81]:
f = float(n)
f

10.0